profiles {
  docker {
    docker.temp = 'auto'
    docker.enabled = true
    process {
      withName: fasta_from_bed {
        container = "lbmc/bedtools:2.25.0"
        cpus = 1
      }
    }
  }
  singularity {
    singularity.enabled = true
    singularity.cacheDir = "./bin/"
    process {
      withName: fasta_from_bed {
        container = "lbmc/bedtools:2.25.0"
        cpus = 1
      }
    }
  }
  psmn{
    process{
      withName: fasta_from_bed {
        beforeScript = "source $baseDir/.conda_psmn.sh"
        conda = "$baseDir/.conda_envs/${CONDA_ENVS}bedtools_2.25.0"
        executor = "sge"
        clusterOptions = "-cwd -V"
        cpus = 1
        memory = "20GB"
        time = "12h"
        queue = 'monointeldeb128,monointeldeb48,h48-E5-2670deb128,h6-E5-2667v4deb128'
      }
    }
  }
  ccin2p3 {
    singularity.enabled = true
    singularity.cacheDir = "$baseDir/.src/singularity_in2p3/"
    singularity.runOptions = "--bind /pbs,/sps,/scratch"
    process{
      withName: fasta_from_bed {
        container = "lbmc/bedtools:2.25.0"
        scratch = true
        stageInMode = "copy"
        stageOutMode = "rsync"
        executor = "sge"
        clusterOptions = "-P P_lbmc -l os=cl7 -l sps=1 -r n"
        cpus = 1
        queue = 'huge'
      }
    }
  }
}
