profiles {
  docker {
    docker.temp = 'auto'
    docker.enabled = true
    process {
      $fasta_from_bed {
        container = "bedtools:2.25.0"
      }
    }
  }
  sge {
    process{
      $fasta_from_bed {
        beforeScript = "module purge; module load BEDtools/2.25.0"
        executor = "sge"
        cpus = 1
        memory = "5GB"
        time = "6h"
        queueSize = 1000
        pollInterval = '60sec'
        queue = 'h6-E5-2667v4deb128'
        penv = 'openmp8'
      }
    }
  }
}
