profiles {
  docker {
    docker.temp = 'auto'
    docker.enabled = true
    process {
      withName: fasta_from_bed {
        container = "bedtools:2.25.0"
        cpus = 1
      }
    }
  }
  singularity {
    singularity.enabled = true
    process {
      withName: fasta_from_bed {
        container = "file://bin/bedtools:2.25.0.img"
        cpus = 1
      }
    }
  }
  psmn {
    process{
      withName: fasta_from_bed {
        beforeScript = "source /usr/share/lmod/lmod/init/bash; module use ~/privatemodules"
        module = "bedtools/2.25.0"
        executor = "sge"
        clusterOptions = "-cwd -V"
        cpus = 1
        memory = "20GB"
        time = "12h"
        queue = 'monointeldeb128'
      }
    }
  }
}
