profiles {
  docker {
    docker.temp = 'auto'
    docker.enabled = true
    process {
      withName: fastp_fastq {
        container = "fastp:0.19.7"
        cpus = 1
      }
    }
  }
  singularity {
    singularity.enabled = true
    process {
      withName: fastp_fastq {
        cpus = 1
        container = "file://bin/fastp:0.19.7.img"
      }
    }
  }
  psmn {
    process{
      withName: fastp_fastq {
        beforeScript = "source /usr/share/lmod/lmod/init/bash; module use ~/privatemodules"
        module = "fastp/0.19.7"
        executor = "sge"
        clusterOptions = "-cwd -V"
        cpus = 1
        memory = "20GB"
        time = "12h"
        queue = 'monointeldeb128,monointeldeb48,h48-E5-2670deb128,h6-E5-2667v4deb128'
      }
    }
  }
  ccin2p3_conda {
    process{
      withName: fastp_fastq {
        beforeScript = "source /sps/lbmc/common/miniconda3/init.sh"
        conda = "/sps/lbmc/common/miniconda3/envs/fastp_0.19.7"
        scratch = true
        stageInMode = "copy"
        stageOutMode = "rsync"
        executor = "sge"
        clusterOptions = "-P P_lbmc -l os=cl7 -l sps=1 -r n \
        -o ~/logs/ -e ~/logs/"
        cpus = 1
        queue = 'huge'
      }
    }
  }
  ccin2p3 {
    singularity.enabled = true
    singularity.runOptions = "--bind /pbs,/sps,/scratch"
    process{
      withName: fastp_fastq {
        container = "/sps/lbmc/common/singularity/fastp:0.19.7.img"
        scratch = true
        stageInMode = "copy"
        stageOutMode = "rsync"
        executor = "sge"
        clusterOptions = "-P P_lbmc -l os=cl7 -l sps=1 -r n \
        -o ~/logs/ -e ~/logs/"
        cpus = 1
        queue = 'huge'
      }
    }
  }
}
