profiles {
  docker {
    docker.temp = 'auto'
    docker.enabled = true
    process {
      withName: index_fasta {
        container = "hisat2:2.1.0"
        cpus = 4
      }
    }
  }
  singularity {
    singularity.enabled = true
    process {
      withName: index_fasta {
        cpus = 4
        container = "file://bin/hisat2:2.1.0.sif"
      }
    }
  }
  psmn {
    process{
      withName: index_fasta {
        beforeScript = "source /usr/share/lmod/lmod/init/bash; module use ~/privatemodules"
        module = "hisat2/2.1.0"
        executor = "sge"
        clusterOptions = "-cwd -V"
        memory = "20GB"
        cpus = 16
        time = "12h"
        queue = 'E5-2670deb128A,E5-2670deb128B,E5-2670deb128C,E5-2670deb128D,E5-2670deb128E,E5-2670deb128F'
        penv = 'openmp16'
      }
    }
  }
}
