profiles {
  docker {
    docker.temp = 'auto'
    docker.enabled = true
    process {
      withName: mapping_fastq {
        cpus = 4
        container = "lbmc/hisat2:2.1.0"
      }
    }
  }
  singularity {
    singularity.enabled = true
    singularity.cacheDir = "./bin/"
    process {
      withName: mapping_fastq {
        cpus = 4
        container = "lbmc/hisat2:2.1.0"
      }
    }
  }
  sge {
    process{
      withName: mapping_fastq {
        beforeScript = "source /usr/share/lmod/lmod/init/bash; module use ~/privatemodules"
        module = "hisat2/2.1.0:samtools/1.7"
        executor = "sge"
        clusterOptions = "-cwd -V"
        memory = "20GB"
        cpus = 16
        time = "12h"
        queue = 'E5-2670deb128A,E5-2670deb128B,E5-2670deb128C,E5-2670deb128D,E5-2670deb128E,E5-2670deb128F'
        penv = 'openmp16'
      }
    }
  }
  ccin2p3 {
    singularity.enabled = true
    singularity.cacheDir = "$baseDir/.src/singularity_in2p3/"
    singularity.runOptions = "--bind /pbs,/sps,/scratch"
    process{
      withName: mapping_fastq {
        container = "lbmc/hisat2:2.1.0"
        scratch = true
        stageInMode = "copy"
        stageOutMode = "rsync"
        executor = "sge"
        clusterOptions = "-P P_lbmc -l os=cl7 -l sps=1 -r n\
        "
        cpus = 1
        queue = 'huge'
      }
    }
  }
}
