profiles {
  docker {
    docker.temp = 'auto'
    docker.enabled = true
    process {
      $adaptor_removal {
        container = "cutadapt:1.14"
      }
    }
  }
  sge {
    process{
      $adaptor_removal {
        beforeScript = "module purge; module load cutadapt/1.14"
      }
    }
  }
}

profiles {
  docker {
    docker.temp = 'auto'
    docker.enabled = true
    process {
      $trimming {
        container = "cutadapt:1.14"
      }
    }
  }
  sge {
    process{
      $trimming {
        beforeScript = "module purge; module load cutadapt/1.14"
      }
    }
  }
}
