profiles {
  docker {
    docker.temp = 'auto'
    docker.enabled = true
    process {
      withName: bam_to_bigwig {
        container = "deeptools:3.0.2"
      }
    }
  }
  psmn {
    process{
      withName: bam_to_bigwig {
        beforeScript = "source /usr/share/lmod/lmod/init/bash; module use ~/privatemodules"
        module = "deepTools/3.0.2"
        executor = "sge"
        clusterOptions = "-m e -cwd -V"
        memory = "20GB"
        time = "12h"
        queue = 'monointeldeb128'
      }
    }
  }
}
