profiles {
  docker {
    docker.temp = 'auto'
    docker.enabled = true
    process {
      withName: fastqc_fastq {
        container = "fastqc:0.11.5"
        cpus = 1
      }
    }
  }
  singularity {
    singularity.enabled = true
    process {
      withName: fastqc_fastq {
        cpus = 1
        container = "file://bin/fastqc:0.11.5.sif"
      }
    }
  }
  psmn {
    process{
      withName: fastqc_fastq {
        beforeScript = "source /usr/share/lmod/lmod/init/bash; module use ~/privatemodules"
        module = "fastqc/0.11.5"
        executor = "sge"
        clusterOptions = "-cwd -V"
        cpus = 1
        memory = "20GB"
        time = "12h"
        queue = 'monointeldeb128'
      }
    }
  }
}
