profiles {
  docker {
    docker.temp = 'auto'
    docker.enabled = true
    process {
      withname: compute_mappability {
        container = "music:6613c53"
      }
      withname: music_preprocessing {
        container = "music:6613c53"
      }
      withname: music_computation {
        container = "music:6613c53"
      }
    }
  }
  psmn {
    process{
      withname: compute_mappability {
        beforeScript = "source /usr/share/lmod/lmod/init/bash; module use ~/privatemodules"
        module = "MUSIC/6613c53"
        executor = "sge"
        clusterOptions = "-m e -cwd -V"
        cpus = 1
        memory = "20GB"
        time = "12h"
        queue = 'monointeldeb128'
      }
      withname: music_preprocessing {
        beforeScript = "source /usr/share/lmod/lmod/init/bash; module use ~/privatemodules"
        module = "MUSIC/6613c53"
        executor = "sge"
        clusterOptions = "-m e -cwd -V"
        cpus = 1
        memory = "20GB"
        time = "12h"
        queue = 'monointeldeb128'
      }
      withname: music_computation {
        beforeScript = "source /usr/share/lmod/lmod/init/bash; module use ~/privatemodules"
        module = "MUSIC/6613c53"
        executor = "sge"
        clusterOptions = "-m e -cwd -V"
        cpus = 1
        memory = "20GB"
        time = "12h"
        queue = 'monointeldeb128'
      }
    }
  }
}
