profiles {
  docker {
    docker.temp = 'auto'
    docker.enabled = true
    process {
      withName: compute_mappability {
        container = "music:6613c53"
        cpus = 1
      }
      withName: music_preprocessing {
        container = "music:6613c53"
        cpus = 1
      }
      withName: music_computation{
        container = "music:6613c53"
        cpus = 1
      }
    }
  }
  singularity {
    singularity.enabled = true
    process {
      withName: compute_mappability {
        container = "file://bin/music:6613c53.img"
        cpus = 1
      }
      withName: music_preprocessing {
        container = "file://bin/music:6613c53.img"
        cpus = 1
      }
      withName: music_computation{
        container = "file://bin/music:6613c53.img"
        cpus = 1
      }
    }
  }
  psmn{
    process{
      withName: compute_mappability {
        beforeScript = "source /usr/share/lmod/lmod/init/bash; module use ~/privatemodules"
        module = "music/6613c53"
        executor = "sge"
        clusterOptions = "-cwd -V"
        cpus = 1
        memory = "20GB"
        time = "12h"
        queue = 'monointeldeb128,monointeldeb48,h48-E5-2670deb128,h6-E5-2667v4deb128'
      }
      withName: music_preprocessing {
        beforeScript = "source /usr/share/lmod/lmod/init/bash; module use ~/privatemodules"
        module = "music/6613c53"
        executor = "sge"
        clusterOptions = "-cwd -V"
        cpus = 1
        memory = "20GB"
        time = "12h"
        queue = 'monointeldeb128,monointeldeb48,h48-E5-2670deb128,h6-E5-2667v4deb128'
      }
      withName: music_computation{
        beforeScript = "source /usr/share/lmod/lmod/init/bash; module use ~/privatemodules"
        module = "music/6613c53"
        executor = "sge"
        clusterOptions = "-cwd -V"
        cpus = 1
        memory = "20GB"
        time = "12h"
        queue = 'monointeldeb128,monointeldeb48,h48-E5-2670deb128,h6-E5-2667v4deb128'
      }
    }
  }
  ccin2p3_conda {
    process{
      withName: compute_mappability {
        beforeScript = "source /sps/lbmc/common/miniconda3/init.sh"
        conda = "/sps/lbmc/common/miniconda3/envs/music_1.0.0"
        scratch = true
        stageInMode = "copy"
        stageOutMode = "rsync"
        executor = "sge"
        clusterOptions = "-P P_lbmc -l os=cl7 -l sps=1 -r n\
        "
        cpus = 1
        queue = 'huge'
      }
      withName: music_preprocessing {
        beforeScript = "source /sps/lbmc/common/miniconda3/init.sh"
        conda = "/sps/lbmc/common/miniconda3/envs/music_1.0.0"
        scratch = true
        stageInMode = "copy"
        stageOutMode = "rsync"
        executor = "sge"
        clusterOptions = "-P P_lbmc -l os=cl7 -l sps=1 -r n\
        "
        cpus = 1
        queue = 'huge'
      }
      withName: music_computation{
        beforeScript = "source /sps/lbmc/common/miniconda3/init.sh"
        conda = "/sps/lbmc/common/miniconda3/envs/music_1.0.0"
        scratch = true
        stageInMode = "copy"
        stageOutMode = "rsync"
        executor = "sge"
        clusterOptions = "-P P_lbmc -l os=cl7 -l sps=1 -r n\
        "
        cpus = 1
        queue = 'huge'
      }
    }
  }
  ccin2p3 {
    singularity.enabled = true
    singularity.runOptions = "--bind /pbs,/sps,/scratch"
    process{
      withName: compute_mappability {
        container = "/sps/lbmc/common/singularity/music:6613c53.img"
        scratch = true
        stageInMode = "copy"
        stageOutMode = "rsync"
        executor = "sge"
        clusterOptions = "-P P_lbmc -l os=cl7 -l sps=1 -r n\
        "
        cpus = 1
        queue = 'huge'
      }
      withName: music_preprocessing {
        container = "/sps/lbmc/common/singularity/music:6613c53.img"
        scratch = true
        stageInMode = "copy"
        stageOutMode = "rsync"
        executor = "sge"
        clusterOptions = "-P P_lbmc -l os=cl7 -l sps=1 -r n\
        "
        cpus = 1
        queue = 'huge'
      }
      withName: music_computation{
        container = "/sps/lbmc/common/singularity/music:6613c53.img"
        scratch = true
        stageInMode = "copy"
        stageOutMode = "rsync"
        executor = "sge"
        clusterOptions = "-P P_lbmc -l os=cl7 -l sps=1 -r n\
        "
        cpus = 1
        queue = 'huge'
      }
    }
  }
}
