profiles {
  docker {
    docker.temp = 'auto'
    docker.enabled = true
    process {
      $compute_mappability {
        container = "music:6613c53"
      }
      $music_preprocessing {
        container = "music:6613c53"
      }
      $music_computation {
        container = "music:6613c53"
      }
    }
  }
  sge {
    process{
      $compute_mappability {
        beforeScript = "module purge; module load MUSIC/6613c53"
      }
      $music_preprocessing {
        beforeScript = "module purge; module load MUSIC/6613c53"
      }
      $music_computation {
        beforeScript = "module purge; module load MUSIC/6613c53"
      }
    }
  }
}
