profiles {
  docker {
    docker.temp = 'auto'
    docker.enabled = true
    process {
      $create_annot {
        container = "ribowave:1.0"
      }
      $determination_P_site {
        container = "ribowave:1.0"
      }
      $track_P_site {
        container = "ribowave:1.0"
      }
      $ribowave_transORF {
        container = "ribowave:1.0"
      }
    }
  }
  sge {
    process{
      $create_annot {
        beforeScript = "module purge; module load BEDtools/2.25.0; module load R/3.4.3"
        executor = "sge"
        cpus = 1
        memory = "10Go"
        time = "1h"
        queueSize = 1000
        pollInterval = ''
        queue = 'h6-E5-2667v4deb128'
        penv = 'openmp8'
      }
      $determination_P_site {
        beforeScript = "module purge; module load BEDtools/2.25.0; module load R/3.4.3"
        executor = "sge"
        cpus = 1
        memory = "10Go"
        time = "1h"
        queueSize = 1000
        pollInterval = ''
        queue = 'h6-E5-2667v4deb128'
        penv = 'openmp8'
      }
      $track_P_site {
        beforeScript = "module purge; module load BEDtools/2.25.0; module load R/3.4.3"
        executor = "sge"
        cpus = 1
        memory = "10Go"
        time = "1h"
        queueSize = 1000
        pollInterval = ''
        queue = 'h6-E5-2667v4deb128'
        penv = 'openmp8'
      }
      $ribowave_transORF {
        beforeScript = "module purge; module load BEDtools/2.25.0; module load R/3.4.3"
        executor = "sge"
        cpus = 8
        memory = "10Go"
        time = "6h"
        queueSize = 1000
        pollInterval = ''
        queue = 'h6-E5-2667v4deb128'
        penv = 'openmp8'
      }
    }
  }
}
