profiles {
  docker {
    docker.temp = 'auto'
    docker.enabled = true
    process {
      $create_annot {
        container = "ribowave:1.0"
      }
      $determination_P_site {
        container = "ribowave:1.0"
      }
      $track_P_site {
        container = "ribowave:1.0"
      }
      $ribowave_transORF {
        container = "ribowave:1.0"
      }
    }
  }
  sge {
    process{
      $create_annot {
        beforeScript = "source /home/elabaron/.bashrc; module load BEDtools/2.25.0"
        executor = "sge"
        cpus = 8
        memory = "5GB"
        time = "6h"
        queue = '*-E5-2667*'
        penv = 'openmp8'
      }
      $determination_P_site {
        beforeScript = "source /home/elabaron/.bashrc; module load BEDtools/2.25.0"
        executor = "sge"
        cpus = 8
        memory = "5GB"
        time = "6h"
        queue = '*-E5-2667*'
        penv = 'openmp8'
      }
      $track_P_site {
        beforeScript = "source /home/elabaron/.bashrc; module load BEDtools/2.25.0"
        executor = "sge"
        cpus = 8
        memory = "5GB"
        time = "6h"
        queue = '*-E5-2667*'
        penv = 'openmp8'
      }
      $ribowave_transORF {
        beforeScript = "source /home/elabaron/.bashrc; module load BEDtools/2.25.0"
        executor = "sge"
        cpus = 16
        memory = "128GB"
        time = "6h"
        queue = '*E5-2667*'
        penv = 'openmp16'
      }
    }
  }
}
