profiles {
  docker {
    docker.temp = 'auto'
    docker.enabled = true
    process {
      $create_annot {
        container = "ribowave:1.0"
      }
      $determination_P_site {
        container = "ribowave:1.0"
      }
    }
  }
  sge {
    process{
      $create_annot {
        beforeScript = ""
        executor = ""
        cpus = 1
        memory = ""
        time = ""
        queueSize = 1000
        pollInterval = ''
        queue = ''
        penv = ''
      }
    }
  }
}
