profiles {
  docker {
    docker.temp = 'auto'
    docker.enabled = true
    process {
      withName: filter_bam {
        container = "lbmc/samtools:1.7"
        cpus = 4
      }
    }
  }
  singularity {
    singularity.enabled = true
    singularity.cacheDir = "./bin/"
    process {
      withName: filter_bam {
        container = "lbmc/samtools:1.7"
        cpus = 4
      }
    }
  }
  psmn{
    process{
      withName: filter_bam {
        beforeScript = "source $baseDir/.conda_psmn.sh"
        conda = "$baseDir/.conda_envs/samtools_1.7"
        executor = "sge"
        clusterOptions = "-cwd -V"
        cpus = 16
        memory = "30GB"
        time = "24h"
        queue = 'E5-2670deb128A,E5-2670deb128B,E5-2670deb128C,E5-2670deb128D,E5-2670deb128E,E5-2670deb128F'
        penv = 'openmp16'
      }
    }
  }
  ccin2p3 {
    singularity.enabled = true
    singularity.cacheDir = "$baseDir/.src/singularity_in2p3/"
    singularity.runOptions = "--bind /pbs,/sps,/scratch"
    process{
      withName: filter_bam {
        container = "lbmc/samtools:1.7"
        scratch = true
        stageInMode = "copy"
        stageOutMode = "rsync"
        executor = "sge"
        clusterOptions = "-P P_lbmc -l os=cl7 -l sps=1 -r n\
        "
        cpus = 1
        queue = 'huge'
      }
    }
  }
}
