profiles {
  docker {
    process {
      $sort_bam {
        container = "samtools:1.7"
      }
      $index_bam {
        container = "samtools:1.7"
      }
      $split_bam {
        container = "samtools:1.7"
      }
      $filter_bam {
        container = "samtools:1.7"
      }
    }
  }
  sge {
    process{
      $trimming {
        beforeScript = "module purge; module load SAMtools/1.7"
      }
      $index_bam {
        beforeScript = "module purge; module load SAMtools/1.7"
      }
      $split_bam {
        beforeScript = "module purge; module load SAMtools/1.7"
      }
      $filter_bam {
        beforeScript = "module purge; module load SAMtools/1.7"
      }
    }
  }
}
