profiles {
  docker {
    docker.temp = 'auto'
    docker.enabled = true
    process {
      withname: sort_bam {
        container = "samtools:1.7"
      }
    }
  }
  psmn {
    process{
      withname: sort_bam {
        beforeScript = "module purge; module load SAMtools/1.7"
      }
    }
  }
}
