profiles {
  docker {
    docker.temp = 'auto'
    docker.enabled = true
    process {
      withName: sort_bam {
        container = "samtools:1.7"
        cpus = 4
      }
    }
  }
  singularity {
    singularity.enabled = true
    process {
      withName: sort_bam {
        container = "file://bin/samtools:1.7.img"
        cpus = 4
      }
    }
  }
  psmn {
    process{
      withName: sort_bam {
        beforeScript = "source /usr/share/lmod/lmod/init/bash; module use ~/privatemodules"
        module = "samtools/1.7"
        executor = "sge"
        clusterOptions = "-cwd -V"
        cpus = 16
        memory = "30GB"
        time = "24h"
        queue = 'E5-2670deb128A,E5-2670deb128B,E5-2670deb128C,E5-2670deb128D,E5-2670deb128E,E5-2670deb128F'
        penv = 'openmp16'
      }
    }
  }
}
