profiles {
  docker {
    docker.temp = 'auto'
    docker.enabled = true
    process {
      withname: dedup_sam {
        container = "samblaster:0.1.24"
      }
    }
  }
  psmn {
    process{
      withname: dedup_sam {
        beforeScript = "module purge; module load samblaster/0.1.24"
      }
    }
  }
}
