profiles {
  docker {
    docker.temp = 'auto'
    docker.enabled = true
    process {
      withname: index_fasta {
        container = "bwa:0.7.17"
      }
    }
  }
  psmn {
    process{
      withname: index_fasta {
        beforeScript = "source /usr/share/lmod/lmod/init/bash; module use ~/privatemodules"
        module = "BWA/0.7.17"
        executor = "sge"
        clusterOptions = "-m e -cwd -V"
        cpus = 1
        memory = "30GB"
        time = "12h"
        queue = 'monointeldeb128'
      }
    }
  }
}
