profiles {
  docker {
    docker.temp = 'auto'
    docker.enabled = true
    process {
      $mapping_fastq {
        container = "bwa:0.7.17"
      }
    }
  }
  sge {
    process{
      $mapping_fastq {
        beforeScript = "module purge; module load BWA/0.7.17"
        executor = "sge"
        cpus = 4
        memory = "5GB"
        time = "6h"
        queueSize = 1000
        pollInterval = '60sec'
        queue = 'h6-E5-2667v4deb128'
        penv = 'openmp8'
      }
    }
  }
}
