profiles {
  docker {
    docker.temp = 'auto'
    docker.enabled = true
    process {
      withname: mapping_fastq {
        container = "bowtie2:2.3.4.1"
      }
    }
  }
  psmn {
    process{
      withname: mapping_fastq {
        beforeScript = "source /usr/share/lmod/lmod/init/bash; module use ~/privatemodules"
        module = "Bowtie2/2.3.4.1"
        executor = "sge"
        clusterOptions = "-m e -cwd -V"
        memory = "20GB"
        time = "12h"
        queue = 'monointeldeb128'
      }
    }
  }
}
