profiles {
  docker {
    docker.temp = 'auto'
    docker.enabled = true
    process {
      $mapping_fastq {
        container = "bowtie2:2.3.4.1"
      }
    }
  }
  sge {
    process{
      $mapping_fastq {
        beforeScript = "module purge; module load SAMtools/1.7; module load Bowtie2/2.3.4.1"
      }
    }
  }
}
