profiles {
  docker {
    docker.temp = 'auto'
    docker.enabled = true
    process {
      $sort_bam {
        container = "samtools:1.7"
      }
      $counting {
        container = "htseq:0.8.0"
      }
    }
  }
  sge {
    process{
      $sort_bam {
        beforeScript = "module purge; module load SAMtools/1.7"
      }
      $trimming {
        beforeScript = "module purge; module load HTSeq/0.8.0"
      }
    }
  }
}
