profiles {
  docker {
    docker.temp = 'auto'
    docker.enabled = true
    process {
      withname: sort_bam {
        container = "samtools:1.7"
      }
      withname: counting {
        container = "htseq:0.8.0"
      }
    }
  }
  psmn {
    process{
      withname: sort_bam {
        beforeScript = "source /usr/share/lmod/lmod/init/bash; module use ~/privatemodules"
        module = "SAMtools/1.7"
        executor = "sge"
        clusterOptions = "-m e -cwd -V"
        cpus = 1
        memory = "20GB"
        time = "12h"
        queue = 'monointeldeb128'
      }
      withname: trimming {
        beforeScript = "source /usr/share/lmod/lmod/init/bash; module use ~/privatemodules"
        module = "HTSeq/0.8.0"
        executor = "sge"
        clusterOptions = "-m e -cwd -V"
        cpus = 1
        memory = "20GB"
        time = "12h"
        queue = 'monointeldeb128'
      }
    }
  }
}
