profiles {
  docker {
    docker.temp = 'auto'
    docker.enabled = true
    process {
      withName: sort_bam {
        container = "samtools:1.7"
        cpus = 1
      }
      withName: counting {
        container = "htseq:0.11.2"
        cpus = 1
      }
    }
  }
  singularity {
    singularity.enabled = true
    process {
      withName: sort_bam {
        container = "file://bin/htseq:0.11.2.img"
        cpus = 1
      }
    }
  }
  psmn {
    process{
      withName: sort_bam {
        beforeScript = "source /usr/share/lmod/lmod/init/bash; module use ~/privatemodules"
        module = "samtools/1.7"
        executor = "sge"
        clusterOptions = "-cwd -V"
        cpus = 1
        memory = "20GB"
        time = "12h"
        queue = 'monointeldeb128,monointeldeb48,h48-E5-2670deb128,h6-E5-2667v4deb128'
      }
      withName: counting {
        beforeScript = "source /usr/share/lmod/lmod/init/bash; module use ~/privatemodules"
        module = "htseq/0.11.2"
        executor = "sge"
        clusterOptions = "-cwd -V"
        cpus = 1
        memory = "20GB"
        time = "12h"
        queue = 'monointeldeb128,monointeldeb48,h48-E5-2670deb128,h6-E5-2667v4deb128'
      }
    }
  }
  ccin2p3_conda {
    process{
      withName: sort_bam {
        beforeScript = "source /sps/lbmc/common/miniconda3/init.sh"
        conda = "/sps/lbmc/common/miniconda3/envs/samtools_1.7"
        scratch = true
        stageInMode = "copy"
        stageOutMode = "rsync"
        executor = "sge"
        clusterOptions = "-P P_lbmc -l os=cl7 -l sps=1 -r n \
        -o ~/logs/ -e ~/logs/"
        cpus = 1
        queue = 'huge'
      }
      withName: counting {
        beforeScript = "source /sps/lbmc/common/miniconda3/init.sh"
        conda = "/sps/lbmc/common/miniconda3/envs/htseq_0.11.2"
        scratch = true
        stageInMode = "copy"
        stageOutMode = "rsync"
        executor = "sge"
        clusterOptions = "-P P_lbmc -l os=cl7 -l sps=1 -r n \
        -o ~/logs/ -e ~/logs/"
        cpus = 1
        queue = 'huge'
      }
    }
  }
  ccin2p3 {
    singularity.enabled = true
    singularity.runOptions = "--bind /pbs,/sps,/scratch"
    process{
      withName: index_fasta {
        container = "/sps/lbmc/common/singularity/kallisto:0.44.0.img"
        scratch = true
        stageInMode = "copy"
        stageOutMode = "rsync"
        executor = "sge"
        clusterOptions = "-P P_lbmc -l os=cl7 -l sps=1 -r n \
        -o ~/logs/ -e ~/logs/"
        cpus = 1
        queue = 'huge'
      }
    }
  }
}
