profiles {
  docker {
    docker.temp = 'auto'
    docker.enabled = true
    process {
      withName: sort_bam {
        container = "samtools:1.7"
        cpus = 1
      }
      withName: counting {
        container = "htseq:0.11.2"
        cpus = 1
      }
    }
  }
  singularity {
    singularity.enabled = true
    process {
      withName: sort_bam {
        container = "file://bin/htseq:0.11.2.img"
        cpus = 1
      }
    }
  }
  psmn {
    process{
      withName: sort_bam {
        beforeScript = "source /usr/share/lmod/lmod/init/bash; module use ~/privatemodules"
        module = "samtools/1.7"
        executor = "sge"
        clusterOptions = "-cwd -V"
        cpus = 1
        memory = "20GB"
        time = "12h"
        queue = 'monointeldeb128'
      }
      withName: trimming {
        beforeScript = "source /usr/share/lmod/lmod/init/bash; module use ~/privatemodules"
        module = "htseq/0.11.2"
        executor = "sge"
        clusterOptions = "-cwd -V"
        cpus = 1
        memory = "20GB"
        time = "12h"
        queue = 'monointeldeb128'
      }
    }
  }
}
