profiles {
  docker {
    docker.temp = "auto"
    docker.enabled = true
    process {
      withName: sort_bam {
        container = "lbmc/samtools:1.7"
        cpus = 1
      }
      withName: counting {
        container = "lbmc/htseq:0.11.2"
        cpus = 1
      }
    }
  }
  singularity {
    singularity.enabled = true
    singularity.cacheDir = "./bin/"
    process {
      withName: sort_bam {
        container = "lbmc/samtools:1.7"
        cpus = 1
      }
      withName: counting {
        container = "lbmc/htseq:0.11.2"
        cpus = 1
      }
    }
  }
  psmn{
    singularity.enabled = true
    singularity.cacheDir = "/.singularity_psmn/"
    singularity.runOptions = "--bind /Xnfs,/scratch"
    process{
      withName: sort_bam {
        container = "lbmc/htseq:0.11.2"
        executor = "sge"
        clusterOptions = "-cwd -V"
        cpus = 1
        memory = "20GB"
        time = "12h"
        queue = "monointeldeb128"
      }
    }
  }
  ccin2p3 {
    singularity.enabled = true
    singularity.cacheDir = "$baseDir/.singularity_in2p3/"
    singularity.runOptions = "--bind /pbs,/sps,/scratch"
    process{
      withName: sort_bam {
        container = "lbmc/samtools:1.7"
        scratch = true
        stageInMode = "copy"
        stageOutMode = "rsync"
        executor = "sge"
        clusterOptions = "-P P_lbmc -l os=cl7 -l sps=1 -r n\
        "
        cpus = 1
        queue = "huge"
      }
      withName: counting {
        container = "lbmc/htseq:0.11.2"
        scratch = true
        stageInMode = "copy"
        stageOutMode = "rsync"
        executor = "sge"
        clusterOptions = "-P P_lbmc -l os=cl7 -l sps=1 -r n\
        "
        cpus = 1
        queue = "huge"
      }
    }
  }
}
