profiles {
  docker {
    docker.temp = 'auto'
    docker.enabled = true
    process {
      $trimming {
        container = "urqt:d62c1f8"
      }
    }
  }
  sge {
    process{
      $trimming {
        beforeScript = "module purge; module load UrQt/d62c1f8"
        executor = "sge"
        cpus = 4
        memory = "5GB"
        time = "6h"
        queueSize = 1000
        pollInterval = '60sec'
        queue = 'h6-E5-2667v4deb128'
        penv = 'openmp8'
      }
    }
  }
}
