
profiles {
  docker {
    docker.temp = 'auto'
    docker.enabled = true
    process {
      withName: fastqc_fastq {
        container = "fastqc:0.11.5"
      }
      withName: multiqc {
        container = "multiqc:1.0"
      }
    }
  }
  psmn {
    process{
      withName: fastqc_fastq {
        beforeScript = "source /usr/share/lmod/lmod/init/bash; module use ~/privatemodules"
        module = "FastQC/0.11.5"
        executor = "sge"
        clusterOptions = "-m e -cwd -V"
        memory = "5GB"
        time = "6h"
        queueSize = 1000
        pollInterval = '60sec'
        queue = 'monointeldeb128'
      }
      withName: multiqc {
        beforeScript = "source /usr/share/lmod/lmod/init/bash; module use ~/privatemodules"
        module = "MultiQC/1.0"
        executor = "sge"
        clusterOptions = "-m e -cwd -V"
        memory = "5GB"
        time = "6h"
        queueSize = 1000
        pollInterval = '60sec'
        queue = 'monointeldeb128'
      }
    }
  }
}

