
profiles {
  docker {
    docker.temp = 'auto'
    docker.enabled = true
    process {
      withName: fastqc_fastq {
        container = "fastqc:0.11.5"
        cpus = 1
      }
      withName: multiqc {
        container = "multiqc:1.7"
        cpus = 1
      }
    }
  }
  singularity {
    singularity.enabled = true
    process {
      withName: fastqc_fastq {
        container = "file://bin/fastqc:0.11.5.img"
        cpus = 1
      }
      withName: multiqc {
        container = "file://bin/multiqc:1.7.img"
        cpus = 1
      }
    }
  }
  psmn {
    process{
      withName: fastqc_fastq {
        beforeScript = "source /usr/share/lmod/lmod/init/bash; module use ~/privatemodules"
        module = "fastqc/0.11.5"
        executor = "sge"
        clusterOptions = "-cwd -V"
        cpus = 1
        memory = "5GB"
        time = "6h"
        queueSize = 1.70
        pollInterval = '60sec'
        queue = 'monointeldeb128'
      }
      withName: multiqc {
        beforeScript = "source /usr/share/lmod/lmod/init/bash; module use ~/privatemodules"
        module = "multiqc/1.7"
        executor = "sge"
        clusterOptions = "-cwd -V"
        cpus = 1
        memory = "5GB"
        time = "6h"
        queueSize = 1.70
        pollInterval = '60sec'
        queue = 'monointeldeb128'
      }
    }
  }
}

