profiles {
  docker {
    docker.temp = 'auto'
    docker.enabled = true
    process {
      withName: fastqc_fastq {
        container = "fastqc:0.11.5"
        cpus = 1
      }
      withName: multiqc {
        container = "multiqc:1.7"
        cpus = 1
      }
    }
  }
  singularity {
    singularity.enabled = true
    process {
      withName: fastqc_fastq {
        container = "file://bin/fastqc:0.11.5.img"
        cpus = 1
      }
      withName: multiqc {
        container = "file://bin/multiqc:1.7.img"
        cpus = 1
      }
    }
  }
  psmn {
    process{
      withName: fastqc_fastq {
        beforeScript = "source /usr/share/lmod/lmod/init/bash; module use ~/privatemodules"
        module = "fastqc/0.11.5"
        executor = "sge"
        clusterOptions = "-cwd -V"
        cpus = 1
        memory = "5GB"
        time = "6h"
        queueSize = 1.70
        pollInterval = '60sec'
        queue = 'monointeldeb128,monointeldeb48,h48-E5-2670deb128,h6-E5-2667v4deb128'
      }
      withName: multiqc {
        beforeScript = "source /usr/share/lmod/lmod/init/bash; module use ~/privatemodules"
        module = "multiqc/1.7"
        executor = "sge"
        clusterOptions = "-cwd -V"
        cpus = 1
        memory = "5GB"
        time = "6h"
        queueSize = 1.70
        pollInterval = '60sec'
        queue = 'monointeldeb128,monointeldeb48,h48-E5-2670deb128,h6-E5-2667v4deb128'
      }
    }
  }
  ccin2p3_conda {
    process{
      withName: fastqc_fastq {
        beforeScript = "source /sps/lbmc/common/miniconda3/init.sh"
        conda = "/sps/lbmc/common/miniconda3/envs/fastqc_0.11.5"
        scratch = true
        stageInMode = "copy"
        stageOutMode = "rsync"
        executor = "sge"
        clusterOptions = "-P P_lbmc -l os=cl7 -l sps=1 -r n \
        -o ~/logs/ -e ~/logs/"
        cpus = 1
        queue = 'huge'
      }
      withName: multiqc {
        beforeScript = "source /sps/lbmc/common/miniconda3/init.sh"
        conda = "/sps/lbmc/common/miniconda3/envs/multiqc_1.7"
        scratch = true
        stageInMode = "copy"
        stageOutMode = "rsync"
        executor = "sge"
        clusterOptions = "-P P_lbmc -l os=cl7 -l sps=1 -r n \
        -o ~/logs/ -e ~/logs/"
        cpus = 1
        queue = 'huge'
      }
    }
  }
  ccin2p3 {
    singularity.enabled = true
    singularity.runOptions = "--bind /pbs,/sps,/scratch"
    process{
      withName: index_fasta {
        container = "/sps/lbmc/common/singularity/kallisto:0.44.0.img"
        scratch = true
        stageInMode = "copy"
        stageOutMode = "rsync"
        executor = "sge"
        clusterOptions = "-P P_lbmc -l os=cl7 -l sps=1 -r n \
        -o ~/logs/ -e ~/logs/"
        cpus = 1
        queue = 'huge'
      }
    }
  }
}
