profiles {
  docker {
    docker.temp = 'auto'
    docker.enabled = true
    process {
      $fastqc_fastq {
        container = "fastqc:0.11.5"
      }
      $multiqc {
        container = "multiqc:1.0"
      }
    }
  }
  sge {
    process{
      $fastqc_fastq {
        beforeScript = "module purge; module load FastQC/0.11.5"
        executor = "sge"
        cpus = 1
        memory = "5GB"
        time = "6h"
        queueSize = 1000
        pollInterval = '60sec'
        queue = 'monointeldeb128'
      }
      $multiqc {
        beforeScript = "module purge; module load FastQC/1.0"
        executor = "sge"
        cpus = 1
        memory = "5GB"
        time = "6h"
        queueSize = 1000
        pollInterval = '60sec'
        queue = 'monointeldeb128'
      }
    }
  }
}
