
profiles {
  docker {
    docker.temp = "auto"
    docker.enabled = true
    process {
      withName: fastqc_fastq {
        container = "lbmc/fastqc:0.11.5"
        cpus = 1
      }
      withName: multiqc {
        container = "lbmc/multiqc:1.7"
        cpus = 1
      }
    }
  }
  singularity {
    singularity.enabled = true
    singularity.cacheDir = "./bin/"
    process {
      withName: fastqc_fastq {
        container = "lbmc/fastqc:0.11.5"
        cpus = 1
      }
      withName: multiqc {
        container = "lbmc/multiqc:1.7"
        cpus = 1
      }
    }
  }
  psmn{
    singularity.enabled = true
    singularity.cacheDir = "/.singularity_psmn/"
    singularity.runOptions = "--bind /Xnfs,/scratch"
    process{
      withName: fastqc_fastq {
        container = "lbmc/multiqc:1.7"
        scratch = true
        stageInMode = "copy"
        stageOutMode = "rsync"
        executor = "sge"
        clusterOptions = "-cwd -V"
        cpus = 1
        memory = "5GB"
        time = "6h"
        queueSize = 1.70
        pollInterval = "60sec"
        queue = "monointeldeb128"
      }
    }
  }
  ccin2p3 {
    singularity.enabled = true
    singularity.cacheDir = "$baseDir/.singularity_in2p3/"
    singularity.runOptions = "--bind /pbs,/sps,/scratch"
    process{
      withName: fastq_fastqc {
        container = "lbmc/fastqc:0.11.5"
        scratch = true
        stageInMode = "copy"
        stageOutMode = "rsync"
        executor = "sge"
        clusterOptions = "-P P_lbmc -l os=cl7 -l sps=1 -r n\
        "
        cpus = 1
        queue = "huge"
      }
      withName: multiqc {
        container = "lbmc/multiqc:1.7"
        scratch = true
        stageInMode = "copy"
        stageOutMode = "rsync"
        executor = "sge"
        clusterOptions = "-P P_lbmc -l os=cl7 -l sps=1 -r n\
        "
        cpus = 1
        queue = "huge"
      }
    }
  }
}

