profiles {
  docker {
    docker.temp = 'auto'
    docker.enabled = true
    process {
      withname: index_fasta {
        container = "rsem:1.3.0"
      }
    }
  }
  psmn {
    process{
      withname: index_fasta {
        beforeScript = "source /usr/share/lmod/lmod/init/bash; module use ~/privatemodules"
        module = "RSEM/1.3.0:SAMtools/1.7"
        executor = "sge"
        clusterOptions = "-m e -cwd -V"
        cpus = 16
        memory = "30GB"
        time = "24h"
        queue = 'E5-2670deb128A,E5-2670deb128B,E5-2670deb128C,E5-2670deb128D,E5-2670deb128E,E5-2670deb128F'
        penv = 'openmp16'
      }
    }
  }
}
