profiles {
  docker {
    docker.temp = 'auto'
    docker.enabled = true
    process {
      withNamek index_fasta {
        container = "kallisto:0.44.0"
        cpus = 4
      }
    }
  }
  singularity {
    singularity.enabled = true
    process {
      withName: index_fasta {
        container = "file://bin/kallisto:0.44.0.img"
        cpus = 4
      }
    }
  }
  psmn {
    process{
      withName: index_fasta {
        beforeScript = "source /usr/share/lmod/lmod/init/bash; module use ~/privatemodules"
        module = "kallisto/0.44.0"
        executor = "sge"
        clusterOptions = "-cwd -V"
        cpus = 16
        memory = "30GB"
        time = "24h"
        queue = 'E5-2670deb128A,E5-2670deb128B,E5-2670deb128C,E5-2670deb128D,E5-2670deb128E,E5-2670deb128F'
        penv = 'openmp16'
      }
    }
  }
  ccin2p3 {
    process{
      withName: index_fasta {
        beforeScript = "source /sps/lbmc/common/miniconda3/init.sh"
        conda = "/sps/lbmc/common/miniconda3/envs/kallisto_0.44.0"
        scratch = true
        stageInMode = "copy"
        stageOutMode = "rsync"
        executor = "sge"
        clusterOptions = "-P P_lbmc -l os=cl7 -l sps=1 -r n \
        -o ~/logs/ -e ~/logs/"
        cpus = 1
        queue = 'huge'
      }
    }
  }
  ccin2p3_singularity {
    singularity.enabled = true
    singularity.runOptions = "--bind /pbs,/sps,/scratch"
    process{
      withName: index_fasta {
        beforeScript = "export SINGULARITY_BIND=\"/sps,/scratch:/var/singularity/mnt/\""
        container = "/sps/lbmc/common/singularity/kallisto:0.44.0.img"
        scratch = true
        stageInMode = "copy"
        stageOutMode = "rsync"
        executor = "sge"
        clusterOptions = "-P P_lbmc -l os=cl7 -l sps=1 -r n \
        -o /sps/lbmc/lmodolo/logs/ -e /sps/lbmc/lmodolo/logs/ -M laurent.modolo@ens-lyon.fr -m beas"
        cpus = 1
        queue = 'huge'
      }
    }
  }
}
