profiles {
  docker {
    docker.temp = 'auto'
    docker.enabled = true
    process {
      $index_fasta {
        container = "kallisto:0.43.1"
      }
      $mapping_fastq {
        container = "kallisto:0.43.1"
      }
    }
  }
  sge {
    process{
      $index_fasta {
        beforeScript = "module purge; module load kallisto/0.43.1"
      }
      $mapping_fastq {
        beforeScript = "module purge; module load kallisto/0.43.1"
      }
    }
  }
}
