profiles {
  docker {
    docker.temp = 'auto'
    docker.enabled = true
    process {
      withName: adaptor_removal {
        container = "lbmc/cutadapt:2.1"
        cpus = 1
      }
    }
  }
  singularity {
    singularity.enabled = true
    singularity.cacheDir = "./bin/"
    process {
      withName: adaptor_removal {
        container = "lbmc/cutadapt:2.1"
        cpus = 1
      }
    }
  }
  psmn{
    process{
      withName: adaptor_removal {
        beforeScript = "source /usr/share/lmod/lmod/init/bash; module use ~/privatemodules"
        module = "cutadapt/2.1"
        executor = "sge"
        clusterOptions = "-cwd -V"
        cpus = 1
        memory = "20GB"
        time = "12h"
        queue = 'monointeldeb128,monointeldeb48,h48-E5-2670deb128,h6-E5-2667v4deb128'
      }
    }
  }
  ccin2p3_conda {
    process{
      withName: adaptor_removal {
        beforeScript = "source /sps/lbmc/common/miniconda3/init.sh"
        conda = "/sps/lbmc/common/miniconda3/envs/cutadapt_2.1"
        scratch = true
        stageInMode = "copy"
        stageOutMode = "rsync"
        executor = "sge"
        clusterOptions = "-P P_lbmc -l os=cl7 -l sps=1 -r n\
        "
        cpus = 1
        queue = 'huge'
      }
    }
  }
  ccin2p3 {
    singularity.enabled = true
    singularity.cacheDir = "/sps/lbmc/common/singularity/"
    singularity.runOptions = "--bind /pbs,/sps,/scratch"
    process{
      withName: adaptor_removal {
        container = "lbmc/cutadapt:2.1"
        scratch = true
        stageInMode = "copy"
        stageOutMode = "rsync"
        executor = "sge"
        clusterOptions = "-P P_lbmc -l os=cl7 -l sps=1 -r n"
        cpus = 1
        queue = 'huge'
      }
    }
  }
}
