profiles {
  docker {
    docker.temp = 'auto'
    docker.enabled = true
    process {
      withName: adaptor_removal {
        container = "cutadapt:1.14"
      }
    }
  }
  psmn {
    process{
      withName: adaptor_removal {
        beforeScript = "source /usr/share/lmod/lmod/init/bash; module use ~/privatemodules"
        module = "cutadapt/1.14"
        executor = "sge"
        clusterOptions = "-m e -cwd -V"
        cpus = 1
        memory = "20GB"
        time = "12h"
        queue = 'monointeldeb128'
      }
    }
  }
}
