profiles {
  docker {
    docker.temp = 'auto'
    docker.enabled = true
    process {
      withName: adaptor_removal {
        container = "cutadapt:2.1"
        cpus = 1
      }
    }
  }
  singularity {
    singularity.enabled = true
    process {
      withName: adaptor_removal {
        container = "file://bin/cutadapt:2.1.img"
        cpus = 1
      }
    }
  }
  psmn {
    process{
      withName: adaptor_removal {
        beforeScript = "source /usr/share/lmod/lmod/init/bash; module use ~/privatemodules"
        module = "cutadapt/2.1"
        executor = "sge"
        clusterOptions = "-cwd -V"
        cpus = 1
        memory = "20GB"
        time = "12h"
        queue = 'monointeldeb128'
      }
    }
  }
  ccin2p3 {
    process{
      withName: adaptor_removal {
        beforeScript = "sh /sps/lbmc/common/miniconda3/init.sh"
        conda = "/sps/lbmc/common/miniconda3/envs/cutadapt_2.1"
        scratch = true
        stageInMode = "copy"
        stageOutMode = "rsync"
        executor = "sge"
        clusterOptions = "-P P_lbmc -l os=cl7 -l sps=1 -r n \
        -o ~/logs/ -e ~/logs/"
        cpus = 1
        queue = 'huge'
      }
    }
  }
}
