profiles {
  docker {
    docker.temp = 'auto'
    docker.enabled = true
    process {
      $adaptor_removal {
        container = "cutadapt:1.14"
      }
    }
  }
  sge {
    process{
      $adaptor_removal {
        beforeScript = "module purge; module load cutadapt/1.14"
        executor = "sge"
        cpus = 1
        memory = "5GB"
        time = "6h"
        queueSize = 1000
        pollInterval = '60sec'
        queue = 'h6-E5-2667v4deb128'
        penv = 'openmp8'
      }
    }
  }
}
profiles {
  docker {
    docker.temp = 'auto'
    docker.enabled = true
    process {
      $trimming {
        container = "urqt:d62c1f8"
      }
    }
  }
  sge {
    process{
      $trimming {
        beforeScript = "module purge; module load UrQt/d62c1f8"
        executor = "sge"
        cpus = 4
        memory = "5GB"
        time = "6h"
        queueSize = 1000
        pollInterval = '60sec'
        queue = 'h6-E5-2667v4deb128'
        penv = 'openmp8'
      }
    }
  }
}

profiles {
  docker {
    docker.temp = 'auto'
    docker.enabled = true
    process {
      $fasta_from_bed {
        container = "bedtools:2.25.0"
      }
    }
  }
  sge {
    process{
      $fasta_from_bed {
        beforeScript = "module purge; module load BEDtools/2.25.0"
        executor = "sge"
        cpus = 1
        memory = "5GB"
        time = "6h"
        queueSize = 1000
        pollInterval = '60sec'
        queue = 'h6-E5-2667v4deb128'
        penv = 'openmp8'
      }
    }
  }
}

profiles {
  docker {
    docker.temp = 'auto'
    docker.enabled = true
    process {
      $index_fasta {
        container = "kallisto:0.43.1"
      }
      $mapping_fastq {
        container = "kallisto:0.43.1"
      }
    }
  }
  sge {
    process{
      $index_fasta {
        beforeScript = "module purge; module load Kallisto/0.43.1"
        executor = "sge"
        cpus = 1
        memory = "5GB"
        time = "6h"
        queueSize = 1000
        pollInterval = '60sec'
        queue = 'h6-E5-2667v4deb128'
        penv = 'openmp8'
      }
      $mapping_fastq {
        beforeScript = "module purge; module load Kallisto/0.43.1"
        executor = "sge"
        cpus = 4
        memory = "5GB"
        time = "6h"
        queueSize = 1000
        pollInterval = '60sec'
        queue = 'h6-E5-2667v4deb128'
        penv = 'openmp8'
      }
    }
  }
}
