profiles {
  docker {
    docker.temp = 'auto'
    docker.enabled = true
    process {
      $adaptor_removal {
        container = "cutadapt:1.14"
      }
      $trimming {
        container = "urqt:d62c1f8"
      }
      $index_fasta {
        container = "bwa:0.7.17"
      }
      $mapping_fastq {
        container = "bwa:0.7.17"
      }
    }
  }
  sge {
    process{
      $adaptor_removal {
        beforeScript = "module purge; module load cutadapt/1.14"
        executor = "sge"
        cpus = 1
        memory = "5GB"
        time = "6h"
        queueSize = 1000
        pollInterval = '60sec'
        queue = 'h6-E5-2667v4deb128'
        penv = 'openmp8'
      }
      $trimming {
        beforeScript = "module purge; module load UrQt/d62c1f8"
        executor = "sge"
        cpus = 4
        memory = "5GB"
        time = "6h"
        queueSize = 1000
        pollInterval = '60sec'
        queue = 'h6-E5-2667v4deb128'
        penv = 'openmp8'
      }
      $index_fasta {
        beforeScript = "module purge; module load BWA/0.7.17"
        executor = "sge"
        cpus = 1
        memory = "5GB"
        time = "6h"
        queueSize = 1000
        pollInterval = '60sec'
        queue = 'h6-E5-2667v4deb128'
        penv = 'openmp8'
      }
      $mapping_fastq {
        beforeScript = "module purge; module load BWA/0.7.17"
        executor = "sge"
        cpus = 4
        memory = "5GB"
        time = "6h"
        queueSize = 1000
        pollInterval = '60sec'
        queue = 'h6-E5-2667v4deb128'
        penv = 'openmp8'
      }
    }
  }
}
