profiles {
  docker {
    docker.temp = 'auto'
    docker.enabled = true
    process {
      withName: adaptor_removal {
        container = "cutadapt:1.14"
      }
      withName: trimming {
        container = "urqt:d62c1f8"
      }
      withName: filter_fasta {
        container = "bioawk:1.0"
      }
      withName: index_fasta {
        container = "bowtie2:2.3.4.1"
      }
      withName: mapping_fastq {
        container = "bowtie2:2.3.4.1"
      }
      withName: merge_bam {
        container = "sambamba:0.6.7"
      }
      withName: sort_bam {
        container = "sambamba:0.6.7"
      }
      withName: index_bam {
        container = "sambamba:0.6.7"
      }
      withName: index2_fasta {
        container = "gatk:4.0.8.1"
      }
      withName: index3_fasta {
        container = "samtools:1.7"
      }
      withName: samtools_SNP_tumor {
        container = "bcftools:1.7"
      }
      withName: samtools_SNP_norm {
        container = "bcftools:1.7"
      }
      withName: vcf_to_csv_tumor {
        container = "gatk:4.0.8.1"
      }
      withName: vcf_to_csv_norm {
        container = "gatk:4.0.8.1"
      }
    }
  }
  sge {
    process{
      withName: adaptor_removal {
        beforeScript = "module purge; module load cutadapt/1.14"
        executor = "sge"
        cpus = 1
        memory = "20GB"
        time = "12h"
        queueSize = 1000
        pollInterval = '60sec'
        queue = 'monointeldeb128'
      }
      withName: trimming {
        beforeScript = "module purge; module load UrQt/d62c1f8"
        executor = "sge"
        cpus = 16
        memory = "5GB"
        time = "12h"
        queueSize = 1000
        pollInterval = '60sec'
        queue = 'E5-2670deb128A,E5-2670deb128B,E5-2670deb128C,E5-2670deb128D,E5-2670deb128E,E5-2670deb128F'
        penv = 'openmp16'
      }
      withName: index_fasta {
        beforeScript = "module purge; module load Bowtie2/2.3.4.1; module load sambamba/0.6.7; module load samblaster/0.6.7"
        executor = "sge"
        cpus = 1
        memory = "30GB"
        time = "6h"
        queueSize = 1000
        pollInterval = '60sec'
        queue = 'monointeldeb128'
      }
      withName: mapping_fastq {
        beforeScript = "module purge; module load Bowtie2/2.3.4.1"
        executor = "sge"
        cpus = 16
        memory = "30GB"
        time = "12h"
        queueSize = 1000
        pollInterval = '60sec'
        queue = 'E5-2670deb128A,E5-2670deb128B,E5-2670deb128C,E5-2670deb128D,E5-2670deb128E,E5-2670deb128F'
        penv = 'openmp16'
      }
      withName: merge_bam {
        beforeScript = "module purge; module load sambamba/0.6.7"
        executor = "sge"
        cpus = 16
        memory = "30GB"
        time = "12h"
        queueSize = 1000
        pollInterval = '60sec'
        queue = 'E5-2670deb128A,E5-2670deb128B,E5-2670deb128C,E5-2670deb128D,E5-2670deb128E,E5-2670deb128F'
        penv = 'openmp16'
      }
      withName: sort_bam {
        beforeScript = "module purge; module load sambamba/0.6.7"
        executor = "sge"
        cpus = 16
        memory = "30GB"
        time = "12h"
        queueSize = 1000
        pollInterval = '60sec'
        queue = 'E5-2670deb128A,E5-2670deb128B,E5-2670deb128C,E5-2670deb128D,E5-2670deb128E,E5-2670deb128F'
        penv = 'openmp16'
      }
      withName: index_bam {
        beforeScript = "module purge; module load sambamba/0.6.7"
        executor = "sge"
        cpus = 16
        memory = "30GB"
        time = "12h"
        queueSize = 1000
        pollInterval = '60sec'
        queue = 'E5-2670deb128A,E5-2670deb128B,E5-2670deb128C,E5-2670deb128D,E5-2670deb128E,E5-2670deb128F'
        penv = 'openmp16'
      }
      withName: index2_fasta {
        beforeScript = "module purge; module load GATK/4.0.8.1"
        executor = "sge"
        cpus = 1
        memory = "20GB"
        time = "12h"
        queueSize = 1000
        pollInterval = '60sec'
        queue = 'monointeldeb128'
      }
      withName: index3_fasta {
        beforeScript = "module purge; module load SAMtools/1.7"
        executor = "sge"
        cpus = 1
        memory = "20GB"
        time = "12h"
        queueSize = 1000
        pollInterval = '60sec'
        queue = 'monointeldeb128'
      }
      withName: samtools_SNP_tumor {
        beforeScript = "module purge; module load BCFtools/1.7"
        executor = "sge"
        cpus = 1
        memory = "20GB"
        time = "12h"
        queueSize = 1000
        pollInterval = '60sec'
        queue = 'monointeldeb128'
      }
      withName: samtools_SNP_norm {
        beforeScript = "module purge; module load BCFtools/1.7"
        executor = "sge"
        cpus = 1
        memory = "20GB"
        time = "12h"
        queueSize = 1000
        pollInterval = '60sec'
        queue = 'monointeldeb128'
      }
      withName: vcf_to_csv_tumor {
        beforeScript = "module purge; module load GATK/4.0.8.1"
        executor = "sge"
        cpus = 1
        memory = "20GB"
        time = "12h"
        queueSize = 1000
        pollInterval = '60sec'
        queue = 'monointeldeb128'
      }
      withName: vcf_to_csv_norm {
        beforeScript = "module purge; module load GATK/4.0.8.1"
        executor = "sge"
        cpus = 1
        memory = "20GB"
        time = "12h"
        queueSize = 1000
        pollInterval = '60sec'
        queue = 'monointeldeb128'
      }
    }
  }
}
