profiles {
  docker {
    docker.temp = 'auto'
    docker.enabled = true
    process {
      withName: adaptor_removal {
        container = "cutadapt:1.14"
      }
      withName: trimming {
        container = "urqt:d62c1f8"
      }
      withName: filter_fasta {
        container = "bioawk:1.0"
      }
      withName: index_fasta {
        container = "bowtie2:2.3.4.1"
      }
      withName: mapping_fastq {
        container = "bowtie2:2.3.4.1"
      }
      withName: merge_bam {
        container = "sambamba:0.6.7"
      }
      withName: sort_bam {
        container = "sambamba:0.6.7"
      }
      withName: index_bam {
        container = "sambamba:0.6.7"
      }
      withName: index2_fasta {
        container = "gatk:4.0.8.1"
      }
      withName: index3_fasta {
        container = "samtools:1.7"
      }
      withName: samtools_SNP_tumor {
        container = "samtools:1.7"
      }
      withName: samtools_SNP_norm {
        container = "samtools:1.7"
      }
      withName: vcf_to_csv_tumor {
        container = "gatk:4.0.8.1"
      }
      withName: vcf_to_csv_norm {
        container = "gatk:4.0.8.1"
      }
      withName: HaplotypeCaller {
        container = "gatk:4.0.8.1"
      }
      withName: GetPileupSummaries {
        container = "gatk:4.0.8.1"
      }
      withName: CalculateContamination {
        container = "gatk:4.0.8.1"
      }
      withName: CollectSequencingArtifactMetrics {
        container = "gatk:4.0.8.1"
      }
      withName: filter_SNP {
        container = "gatk:4.0.8.1"
      }
    }
  }
  sge {
    process{
      withName: adaptor_removal {
        beforeScript = "module purge; module load cutadapt/1.14"
        executor = "sge"
        cpus = 1
        memory = "5GB"
        time = "6h"
        queueSize = 1000
        pollInterval = '60sec'
        queue = 'h6-E5-2667v4deb128'
        penv = 'openmp8'
      }
      withName: trimming {
        beforeScript = "module purge; module load UrQt/d62c1f8"
        executor = "sge"
        cpus = 4
        memory = "5GB"
        time = "6h"
        queueSize = 1000
        pollInterval = '60sec'
        queue = 'h6-E5-2667v4deb128'
        penv = 'openmp8'
      }
      withName: index_fasta {
        beforeScript = "module purge; module load BWA/0.7.17"
        executor = "sge"
        cpus = 1
        memory = "5GB"
        time = "6h"
        queueSize = 1000
        pollInterval = '60sec'
        queue = 'h6-E5-2667v4deb128'
        penv = 'openmp8'
      }
      withName: mapping_fastq {
        beforeScript = "module purge; module load BWA/0.7.17"
        executor = "sge"
        cpus = 4
        memory = "5GB"
        time = "6h"
        queueSize = 1000
        pollInterval = '60sec'
        queue = 'h6-E5-2667v4deb128'
        penv = 'openmp8'
      }
      withName: dedup_sam {
        beforeScript = "module purge; module load samblaster/0.1.24"
      }
    }
  }
}
