profiles {
  docker {
    docker.temp = "auto"
    docker.enabled = true
    process {
      withName: adaptor_removal {
        container = "lbmc/cutadapt:2.1"
        cpus = 1
      }
      withName: trimming {
        cpus = 4
        container = "lbmc/urqt:d62c1f8"
      }
      withName: fasta_from_bed {
        container = "lbmc/bedtools:2.25.0"
        cpus = 1
      }
      withName: index_fasta {
        container = "lbmc/kallisto:0.44.0"
        cpus = 4
      }
      withName: mapping_fastq {
        container = "lbmc/kallisto:0.44.0"
        cpus = 4
      }
    }
  }
  singularity {
    singularity.enabled = true
    singularity.cacheDir = "./bin/"
    process {
      withName: adaptor_removal {
        container = "lbmc/cutadapt:2.1"
        cpus = 1
      }
      withName: trimming {
        cpus = 4
        container = "lbmc/urqt:d62c1f8"
      }
      withName: fasta_from_bed {
        container = "lbmc/bedtools:2.25.0"
        cpus = 1
      }
      withName: index_fasta {
        container = "lbmc/kallisto:0.44.0"
        cpus = 4
      }
      withName: mapping_fastq {
        container = "lbmc/kallisto:0.44.0"
        cpus = 4
      }
    }
  }
  psmn{
    singularity.enabled = true
    singularity.cacheDir = "$baseDir/.singularity_psmn/"
    singularity.runOptions = "--bind /Xnfs,/scratch"
    process{
      withName: adaptor_removal {
        container = "lbmc/cutadapt:2.1"
        executor = "sge"
        clusterOptions = "-cwd -V"
        cpus = 1
        memory = "20GB"
        time = "12h"
        queue = "monointeldeb128"
      }
      withName: trimming {
        container = "lbmc/urqt:d62c1f8"
        scratch = true
        executor = "sge"
        clusterOptions = "-cwd -V"
        cpus = 32
        memory = "30GB"
        time = "24h"
        queue = "CLG6242deb384A,CLG6242deb384C,CLG5218deb192A,CLG5218deb192B,CLG5218deb192C,CLG5218deb192D,SLG5118deb96,SLG6142deb384A,SLG6142deb384B,SLG6142deb384C,SLG6142deb384D"
        penv = "openmp32"

      }
      withName: fasta_from_bed {
        container = "lbmc/bedtools:2.25.0"
        executor = "sge"
        clusterOptions = "-cwd -V"
        cpus = 1
        memory = "20GB"
        time = "12h"
        queue = "monointeldeb128"
      }
      withName: index_fasta {
        container = "lbmc/kallisto:0.44.0"
        executor = "sge"
        clusterOptions = "-cwd -V"
        cpus = 32
        memory = "30GB"
        time = "24h"
        queue = "CLG6242deb384A,CLG6242deb384C,CLG5218deb192A,CLG5218deb192B,CLG5218deb192C,CLG5218deb192D,SLG5118deb96,SLG6142deb384A,SLG6142deb384B,SLG6142deb384C,SLG6142deb384D"
        penv = "openmp32"
      }
      withName: mapping_fastq {
        container = "lbmc/kallisto:0.44.0"
        executor = "sge"
        clusterOptions = "-cwd -V"
        cpus = 32
        memory = "30GB"
        time = "24h"
        queue = "CLG6242deb384A,CLG6242deb384C,CLG5218deb192A,CLG5218deb192B,CLG5218deb192C,CLG5218deb192D,SLG5118deb96,SLG6142deb384A,SLG6142deb384B,SLG6142deb384C,SLG6142deb384D"
        penv = "openmp32"
      }
    }
  }
  ccin2p3 {
    singularity.enabled = true
    singularity.cacheDir = "$baseDir/.singularity_in2p3/"
    singularity.runOptions = "--bind /pbs,/sps,/scratch"
    process{
      withName: adaptor_removal {
        container = "lbmc/cutadapt:2.1"
        scratch = true
        stageInMode = "copy"
        stageOutMode = "rsync"
        executor = "sge"
        clusterOptions = "-P P_lbmc -l os=cl7 -l sps=1 -r n"
        cpus = 1
        queue = "huge"
      }
      withName: trimming {
        container = "lbmc/urqt:d62c1f8"
        scratch = true
        stageInMode = "copy"
        stageOutMode = "rsync"
        executor = "sge"
        clusterOptions = "-P P_lbmc -l os=cl7 -l sps=1 -r n\
        "
        cpus = 1
        queue = "huge"
      }
      withName: fasta_from_bed {
        container = "lbmc/bedtools:2.25.0"
        scratch = true
        stageInMode = "copy"
        stageOutMode = "rsync"
        executor = "sge"
        clusterOptions = "-P P_lbmc -l os=cl7 -l sps=1 -r n"
        cpus = 1
        queue = "huge"
      }
      withName: index_fasta {
        container = "lbmc/kallisto:0.44.0"
        scratch = true
        stageInMode = "copy"
        stageOutMode = "rsync"
        executor = "sge"
        clusterOptions = "-P P_lbmc -l os=cl7 -l sps=1 -r n\
        "
        cpus = 1
        queue = "huge"
      }
      withName: mapping_fastq {
        container = "lbmc/kallisto:0.44.0"
        scratch = true
        stageInMode = "copy"
        stageOutMode = "rsync"
        executor = "sge"
        clusterOptions = "-P P_lbmc -l os=cl7 -l sps=1 -r n\
        "
        cpus = 1
        queue = "huge"
      }
    }
  }
}
