profiles {
  docker {
    docker.temp = 'auto'
    docker.enabled = true
    process {
      $mapping_fastq {
        container = "bowtie:1.2.2"
      }
    }
  }
  sge {
    process{
      $mapping_fastq {
        beforeScript = "module purge; module load SAMtools/1.7; module load Bowtie/1.2.2"
      }
    }
  }
}
