profiles {
  docker {
    docker.temp = 'auto'
    docker.enabled = true
    process {
      withName: mapping_fastq {
        container = "bowtie:1.2.2"
        cpus = 4
      }
    }
  }
  singularity {
    singularity.enabled = true
    process {
      withName: mapping_fastq {
        cpus = 4
        container = "file://bin/bowtie:1.2.2.img"
      }
    }
  }
  psmn {
    process{
      withName: mapping_fastq {
        beforeScript = "source /usr/share/lmod/lmod/init/bash; module use ~/privatemodules"
        module = "bowtie/1.2.2:samtools/1.7"
        executor = "sge"
        clusterOptions = "-cwd -V"
        cpus = 16
        memory = "30GB"
        time = "24h"
        queue = 'E5-2670deb128A,E5-2670deb128B,E5-2670deb128C,E5-2670deb128D,E5-2670deb128E,E5-2670deb128F'
        penv = 'openmp16'
      }
    }
  }
  ccin2p3 {
    process{
      withName: mapping_fastq {
        beforeScript = "sh /sps/lbmc/common/miniconda3/init.sh"
        conda = "/sps/lbmc/common/miniconda3/envs/bowtie_1.2.2"
        scratch = true
        stageInMode = "copy"
        stageOutMode = "rsync"
        executor = "sge"
        clusterOptions = "-P P_lbmc -l os=cl7 -l sps=1 -r n \
        -o ~/logs/ -e ~/logs/"
        cpus = 1
        queue = 'huge'
      }
    }
  }
}
