profiles {
  docker {
    docker.temp = 'auto'
    docker.enabled = true
    process {
      $fastq_dump {
        container = "sratoolkit:2.8.2"
      }
    }
  }
  sge {
    process{
      $fastq_dump {
        beforeScript = "module purge; module load SRAtoolkit/2.8.2"
        executor = "sge"
        cpus = 1
        memory = "5GB"
        time = "6h"
        queueSize = 1000
        pollInterval = '60sec'
        queue = 'monointeldeb128'
      }
    }
  }
}
